* { 
    margin: 0;
    padding: 0;
    user-select: none;
}

:root{
    --dark-violet: rgb(33, 9, 47);
    --violet: rgb(101, 0, 196);
    --light-grayish-violet: rgb(222, 221, 223);
    --dark-grayish-violet: rgb(142, 133, 147);
}

html{
    box-sizing: border-box;
}

@font-face {
    font-family: Space-Grotesk;
    src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body{
    min-width: 375px;
    height: 100vh;
}

header{
    width: 100%;
    height: 240px;
    background-image: url(./assets/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-container{
    position: absolute;
    width: 375px;
    height: 280px;
    top: 0;
    /* font-size: 0; */
}
#front, #back{
    position: relative;
    width: fit-content;
    height: fit-content;
}

#back{
    top: 25px;
    left: 70px;
}

#front{
    bottom: 46px;
    left: 25px;
}

#card-container span{
    display: block;
    width: fit-content;
    position: absolute;
    color: white;
    font-family: Space-Grotesk;
    user-select: none;
    z-index: 1;
}

img{
    width: 280px;
    height: auto;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
    border-radius: 10px;
}


#cvv-on-card{
    font-weight: 600;
    font-size: 17px;
    top: 65px;
    left: 213px;
}

#card-number-on-card{
    font-weight: 600;
    font-size: 21.5px;
    top: 84px;
    left: 20px;
}

#name-on-card{
    top: 122px;
    left: 20px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}

#date-on-card{
    top: 122px;
    left: 219px;
    font-weight: 400;
    font-size: 13px;
}

#front svg{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    scale: 80%;
}


main{
    display: flex;
    justify-content: center;
    min-width: 375px;
    height: auto;
    margin-top: 60px;
}

form{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: 400px;
}

form div{
    width: fit-content;
    height: fit-content;
    margin: 0 auto 10px auto;
}

label{
    color:var(--dark-violet);
    font-family: Space-Grotesk;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

input{
    color:var(--dark-violet);
    font-size: 16px;
    font-family: Space-Grotesk;
    width: 305px;
    height: 40px;
    margin-top: 7px;
    padding-left: 15px;
    border-color: rgba(142, 133, 147, 0.3);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    transition: 0.5s;
    /* text-transform: uppercase; */
}


input::placeholder{
    font-family: Space-Grotesk;
    color: rgba(142, 133, 147, 0.7);
    font-size: 16px;
    /* text-transform: none; */
}

input:focus{
    outline: none;
    border-color: var(--violet) !important;
}

.correct{
    border-color: green;
}

.error{
    font-family: Space-Grotesk;
    color: red;
    font-size: 13px;
    max-width: 150px;
}

.invisible{
    display: none;
}

#expiration-month, #expiration-year {
    width: 60px;
    margin-right: 9px;
}
#cvv{
    width: 120px;
    margin-left: 8px;
}

.button{
    width: 320px;
    height: 45px;
    margin: 10px auto 10px auto;
    background-color: var(--dark-violet);
    border-style: none;
    font-family: Space-Grotesk;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.5s;
}

.button:hover{
    background-color: rgb(74, 22, 104);
}

.button:active{
    background-color: rgb(25, 7, 36);
}

@media only screen and (min-width: 750px){
    header{
        height: 300px;
    }

    main{
        display: flex;
        justify-content: center;
        height: auto;
        margin-top: 90px;
    }

    img{
        width: 340px;
        height: auto;
    }

    #back{
        top: 7vh;
        left: 11vw;
    }
    
    #front{
        bottom: 2vh;
        left: -8vw;
    }


    #cvv-on-card{
        font-weight: 600;
        font-size: 18px;
        top: 81px;
        left: 265px;
    }
    
    #card-number-on-card{
        font-weight: 500;
        font-size: 26.5px;
        top: 105px;
        left: 19px;
    }
    
    #name-on-card{
        top: 150px;
        left: 20px;
        font-weight: 400;
        font-size: 14px;
    }
    
    #date-on-card{
        top: 150px;
        left: 272px;
        font-weight: 400;
        font-size: 14px;
    }
    
}

@media only screen and (min-width: 1200px){

    body{
        display: flex;
    }

    header{
        width: 700px;
        height: 100vh;
        background-image: url(./assets/images/bg-main-desktop.png);
    }

    main{
        margin: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 380px;
        height: auto;
    }

    #back{
        top: 40vh;
        left: 11vw;
    }
    
    #front{
        bottom: 40vh;
        left: 4vw;
    }

    #flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        width: 470px;
        height: 100vh;
        left:6vw;
    }

    #cvv-on-card{
        font-weight: 600;
        font-size: 18px;
        top: 91px;
        left: 294px;
    }
    
    #card-number-on-card{
        font-weight: 500;
        font-size: 30px;
        top: 110px;
        left: 20px;
    }
    
    #name-on-card{
        top: 163px;
        left: 20px;
        font-weight: 400;
        font-size: 14px;
    }
    
    #date-on-card{
        top: 163px;
        left: 309px;
        font-weight: 400;
        font-size: 14px;
    }

    #confirmation{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* confirmation page */
#confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmation svg{
    margin: 10px 0 15px 0;
}

#thanks{
    font-family: Space-Grotesk;
    color: var(--dark-violet);
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 12px;
}

#info{
    font-family: Space-Grotesk;
    color: var(--dark-grayish-violet);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
}
